@model  YildirimlarE.Models.BirlesikTablolar
<div class="padding1">
    <div class="box-left">
        @foreach (var x in Model.u)
        {


            <div class="bot-img">
                <img src="@x.FotoUrl" style="width:120px; height:65px" alt="" />
            </div>
            <div class="bot-desc">
                <p>@x.UrunAciklama.Substring(0, 25)</p>
            </div>

            <div class="clear"></div>

        }
    </div>
    <div class="box1-left">
        @foreach (var x in Model.u2)
        {

            <div class="bot-img">
                <img src="@x.FotoUrl" style="width:120px; height:65px" alt="" />
            </div>
            <div class="bot-desc1">
                <p>@x.UrunAciklama.Substring(0, 25)</p>
            </div>

            <div class="clear"></div>

        }
    </div>
    </div>