@using YildirimlarE.Models
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="content">
    <div class="wrap">
        @foreach (var x in Model)
        {
        <div class="about">
            <br />
            <img src="@x.FotoUrl1" alt="" width="1200" height="600" />
            <h2>Kimiz Biz?</h2>
            <p>@x.Aciklama</p>
        </div>

        }
    </div>
</div>

